* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color:white !important;
  --grey-bg:hsl(0, 0%, 24%);
}

body {
  background-color: var(--grey-bg);
}
input[type=text],input[type=password],#profilePic{
  color:black !important;
}
h1,h2,h3{
  color:#32bb93 !important;
}
.auth__form {
  margin: auto;
  width: 360px;
  height: min-content;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 12px;
  background: #ffffff;
}

.auth__form Button {
  display: block;
  width: 100%;
}

.email__heading {
  font-weight: 500;
}

#profilePicUpload {
  height: 130px;
  width: 130px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#profileModal {
  height: 130px;
  width: 130px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#profileDropdownIcon {
  height: 40px;
  width: 40px;
}